.checklist {

	text-align: center;
	padding-top: 2em;
	font-style: italic;
	font-size: 2.5em;
	padding-top: 1em;
}

.lg-txt {
	font-weight: bold;
	font-size: 3em;
}

.fld {
	padding: 17px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	font-size: 1.5em;
	border: 1px solid #ff9999;
	width: 100%;
}

.wrapper {
    text-align: center;
}

.spacing {
    margin-bottom: 15px;
}

.title {
	padding-left: 1em;
	font-weight: bold;
	font-size: 4em;
}

.login {
	padding-right: 1em;
	text-align:right;
	font-weight: bold;
	font-size: 4em;
}

body {
	font-family: 'Cabin', sans-serif;
}

h3 {
	padding-top: 0.5em;
	text-align: center;
}


#loginform
{
   width:500px;
   height:330px;
   margin-top:100px;
   background-color:#585858;
   border-radius:3px;
   box-shadow:0px 0px 10px 0px #424242;
   padding:10px;
   box-sizing:border-box;
   font-family:helvetica;
   visibility:hidden;
   display:none;
}
#loginform #close_login
{
   position:absolute;
   top:140px;
   left:735px;
   width:15px;
   height:15px;
}
#loginform p
{
   margin-top:40px;
   font-size:22px;
   color:#E6E6E6;
}
#loginform #login
{
   width:250px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#loginform #password
{
   margin-top:5px;
   width:250px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#loginform #dologin
{
   margin-left:-5px;
   margin-top:10px;
   width:250px;
   height:40px;
   border:none;
   border-radius:3px;
   color:#E6E6E6;
   background-color:grey;
   font-size:20px;
}


